<div class="container section">
  <h2 class="section-header">Features</h2>
  <hr />
  <div class="row">
    <div class="feature col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
      <h3>Easy + Simple</h3>
      Make it easy for your customers. No more dragging + dropping preset files into hidden folders in the depths of your computer. We'll put your presets right where they need to be without any fuss.
    </div>
    <div class="feature col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
      <h3>
        Professional
      </h3>
      Your installer can be branded with your logo, colors, and fonts. All of our products are signed and verified with Apple and Windows so there will be none of those scary "unidentified developer" messages.
    </div>
    <div class="feature col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
      <h3>Big or Small</h3>
      Lightoom only? Need to include custom camera profiles with your presets? No problem. Whether you're a wedding photographer who wants to cash in on the preset craze, or you're a company with thousands of customers worldwide, we've got your back.
    </div>
  </div>
</div>