<div class="jumbotron">
  <div class="jumbotron-content">
    <h1>Your beautiful presets deserve a beautiful installer</h1>
  </div>
  <div class="arrow bounce">
    
  </div>
  <div class="photo-credit">
    <a href="http://www.philchester.com" target="_none">Photo by Phil Chester</a>
  </div>
</div>