<div class="container section">
    <h2 class="section-header  multiline-heading">
    This is the installer you're looking for.</br>
    Lightroom + ACR presets.</br>
    Mac + Windows.</h2>
  <div class="row"><img class="center-block img-circle spacer-dot" /></div>
</div>