<div class="container section">
  <h2 class="section-header">Testimonials</h2>
  <hr />

  <div class="row testimonial">
    <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-2">
      <%= image_tag("phil.jpg", class:"img-responsive img-circle", alt:"phil chester") %>
      <h3>Phil Chester - Portland, OR</h3>
      <p>Presetter's installer took my presets from good to great. I can't believe how many comments I've recieved on the professionalism of my product</p>
    </div>
    <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-2">      
      <%= image_tag("phil.jpg", class:"img-responsive img-circle", alt:"phil chester") %>
      <h3>Phil Chester - Portland, OR</h3>
      <p>Presetter's installer took my presets from good to great. I can't believe how many comments I've recieved on the professionalism of my product</p>
    </div>
  </div>

</div>